.fruit {
  background-color: $white;
  height: 100px;
  border-radius: 5px;
  color: $main_text;
  transition: 0.5s;

  figure {
    margin: 0;
  }
}

.fruit:hover {
  box-shadow: 0 0 10px $t_grey;
  transform: scale(1.1);
}

.fruit-delete:hover {
  transform: scale(1.2);
}

// buttons/tags - status: background
.tag {
  padding: 0.3rem 1.2rem;
  border-radius: 40px;
  width: 130px;
  text-align: center;
  color: $white;
}
.true {
  background-image: $true;
}

.false {
  background-image: $false;
}
