@import "./src/assets/scss/_colors.scss";

#app {
  background-image: url("./assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

* {
  transition: 0.2s;
}
